<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ResultFolder" value="D:/Shared/Sorted" />
        <add key="BufferSize" value="10000" />
        <add key="KafkaBootstrapServers" value="127.0.0.1:9092" />
        <add key="KafkaTopic" value="FilesToSort" />
        <add key="KafkaGroupId" value="file-sorter" />
    </appSettings>
</configuration>