<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DictionariesPath" value="Dictionaries" />
        <add key="GeneratorNumberMinValue" value="1" />
        <add key="GeneratorNumberMaxValue" value="999999" />
        <add key="GeneratorPortion" value="10000" />
        <add key="GeneratorTasksCount" value="10" />
        <add key="GeneratorResultFileSize" value="10737418240" />
        <add key="GeneratorResultFolder" value="Generated" />
        <add key="KafkaBootstrapServers" value="127.0.0.1:9092" />
        <add key="KafkaTopic" value="FilesToSort" />
    </appSettings>
</configuration>